@mixin syspanel($menu-w: 200px,$header-h: 51px) {
  &.syspanel {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .panel-header {

    }

    .panel-wrap {
      flex: 1;
      display: flex;
      position: relative;
    }

    .panel-menu,
    .panel-body {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: left 0.3s cubic-bezier(0.76, 0.01, 0.13, 0.98);
    }
    .panel-menu {
      right: auto;
      width: $menu-w;
      overflow: auto;
    }
    .panel-body {

      left: $menu-w;
      overflow: auto;
    }

    &.closed-menu {
      .panel-menu {
        left: -$menu-w;
      }
      .panel-body {
        left: 0;
      }
    }
  }

  &.syspanel {
    .panel-header {
      position: relative;
    }
  }
}